{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="row">
    <form>
        <input type="username">
        <input type="text" name="firstname" id="" placeholder="enter your firstname">
        <input type="text" name="lastname" id="" placeholder="enter your lastname">
        <input type="password1" name="password1" id="" placeholder="enter your password1">
        <input type="password2" name="password2" id="" placeholder="enter your password2">
        <input type="email" name="email" id="" placeholder="enter your email">
    </form>
</div>

{% endblock %}